{% extends 'base.html' %}
{% load static %}

{% block title %} Productos {% endblock title %}
{% block cssprincipal %}
<link rel="stylesheet" href="{% static 'css/estilos_index.css' %}"> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">   
{% endblock cssprincipal %}

{% block content %}
        <!-- titulo pequeño -->
        <div class="como-usar-ego">¿Cómo usar Ego?</div>
        <!-- seccion presentacion -->
        <section class="contenedor sobre-nosotros">   
          <div class="contenedor-sobre-nosotros">
              <div class="contenido-textos">
                  <h3><span>¿Buscas el datazo de</span></h3>
                  <div class="contenedor-anim">
                    <ul>
                      <li>el gasfitero?</li>
                      <li>la niñera?</li>
                      <li>el psicologo?</li>
                      <li>la dentista?</li>
                      <li>la profe?</li>
                      <li>la dj?</li>
                      
                      
                    </ul>
                  </div>
                  <div class="rayita"><hr></div>
                
                  <p>¡No busques mas,ya estas en Ego!</p>  
              </div>
              <img src="{% static 'img/img4.jpg' %}" alt="" class="imagen-about-us">
          </div> 
        </section>


        <!-- parte de como usar -->
        <div class="contiene-comousar">
          <div class="de-contenido">
            <div class="contenedor-imagenes-con-text">
              <img src="https://ego11.s3-sa-east-1.amazonaws.com/images/home/comoo+usaar/01_Home-04.png" alt="Entra a ego tu comunidad de servicios en lima">
              <div class="text-como">Entra a ego.pe</div>
            </div>
            <div class="contenedor-imagenes-con-text">
              <img src="https://ego11.s3-sa-east-1.amazonaws.com/images/home/comoo+usaar/01_Home-05.png" alt="Busca el servicio que quieres">
              <div class="text-como">Busca el servicio que quieres</div>
            </div>
            <div class="contenedor-imagenes-con-text">
              <img src="https://ego11.s3-sa-east-1.amazonaws.com/images/home/comoo+usaar/01_Home-06.png" alt="Elige a tu chambero, revisa lar reseñas">
              <div class="text-como">Elige a tu chambero (no olvides revisar las reseñas)</div>
            </div>
            <div class="contenedor-imagenes-con-text">
              <img src="https://ego11.s3-sa-east-1.amazonaws.com/images/home/comoo+usaar/01_Home-07.png" alt="Contactar a chambero">
              <div class="text-como">Ubica el botón “Contáctate conmigo” para comunicarte con tu chambero</div>
            </div>
          </div> 	
        </div>

    
    <!-- parte de los iconos-->
    <div class="contenedor-frases">
        <div class="frase">
            <img src="https://ego11.s3-sa-east-1.amazonaws.com/images/home/Icono_Mesa+de+trabajo+1.png" alt="">
            <div class="titulo">Ahorra tiempo</div>
            <div class="text-como">Encuentra tus servicios aquí</div>
        </div>
        <div class="frase">
            <img src="https://ego11.s3-sa-east-1.amazonaws.com/images/home/Icono-02.png" alt="">
            <div class="titulo">Confía</div>
            <div class="text-como">Mira reseñas y escoge</div>
        </div>
        <div class="frase">
            <img src="https://ego11.s3-sa-east-1.amazonaws.com/images/home/Icono-03.png" alt="">
            <div class="titulo">Sé parte de la élite</div>
            <div class="text-como">Valora un servicio en tu comunidad</div>
        </div>
    </div>
    
    <!-- titulo para la visualizacion -->
    <div class="como-usar-ego">Nuestras Categorias</div>




      <!--botones productos-->
  <div class="contiene-seleccion">
      <input type="button" id="khe" value="veterinaria" onclick="veterinaria();">
      <input type="button" value="deporte" onclick="deporte();">
      <input type="button" value="medicina" onclick="medicina();">
      <input type="button" value="comida" onclick="comida();">

  </div>
      <!-- seccion productos -->
  <section class="contiene-total-productos">

        <div class="contenedor-productos" >            
            {% for prod in veterinaria %}
              <div class="producto" >
                
                {% if prod.foto %}
                    <li><a href="{% url 'producto_detallado' slug=prod.slug %}"><img src="{{prod.foto.url}}" ></a> </li>
                {% endif %} 
                <ul>
                    <li class="tit-cont"><a class="titulito" href="{% url 'producto_detallado' slug=prod.slug %}">{{ prod.titulo }}</a></li> 
                    <li>usuario:  {{prod.usuario_id}} </li>

                    <li>categoria: {{prod.categoria_id}} </li>
                    
                    <li class="precio">Precio: S/. {{prod.precio}} </li>                                      
                </ul>
                <a href="#" class="mas-info">Más información</a>
                <a href="#" class="pedir-servicio"><i class="fab fa-whatsapp"></i> Pedir servicio</a>
              </div>
            {% endfor %} 
        </div>
        <div class="contenedor-productos" >            
          {% for prod in deporte %}
            <div class="producto" >
              
              {% if prod.foto %}
                  <li> <a href="{% url 'producto_detallado' slug=prod.slug %}"> <img src="{{prod.foto.url}}" alt=""> </a></li>
              {% endif %} 
              <ul>
                  <li class="tit-cont"><a class="titulito" href="{% url 'producto_detallado' slug=prod.slug %}">{{ prod.titulo }}</a></li> 
                  <li>usuario:  {{prod.usuario_id}} </li>

                  <li>categoria: {{prod.categoria_id}} </li>
                  
                  <li class="precio">Precio: S/. {{prod.precio}} </li>                                      
              </ul>
              <a href="#" class="mas-info">Más información</a>
              <a href="#" class="pedir-servicio"><i class="fab fa-whatsapp"></i> Pedir servicio</a>
            </div>
          {% endfor %} 
        </div>
      
        <div class="contenedor-productos" >            
          {% for prod in medicina %}
          <div class="producto" >
            
            {% if prod.foto %}
                <li> <a href="{% url 'producto_detallado' slug=prod.slug %}"><img src="{{prod.foto.url}}" alt=""></a> </li>
            {% endif %} 
            <ul>
                <li class="tit-cont"><a class="titulito" href="{% url 'producto_detallado' slug=prod.slug %}">{{ prod.titulo }}</a></li> 
                <li>usuario:  {{prod.usuario_id}} </li>

                <li>categoria: {{prod.categoria_id}} </li>
                
                <li class="precio">Precio: S/. {{prod.precio}} </li>                                      
            </ul>
            <a href="#" class="mas-info">Más información</a>
            <a href="#" class="pedir-servicio"><i class="fab fa-whatsapp"></i> Pedir servicio</a>
          </div>
          {% endfor %} 
        </div>


        <div class="contenedor-productos" >            
          {% for prod in comida %}
            <div class="producto" >
              
              {% if prod.foto %}
                  <li> <a href="{% url 'producto_detallado' slug=prod.slug %}"><img src="{{prod.foto.url}}" alt=""> </a></li>
              {% endif %} 
              <ul>
                  <li class="tit-cont"><a class="titulito" href="{% url 'producto_detallado' slug=prod.slug %}">{{ prod.titulo }}</a></li> 
                  <li>usuario:  {{prod.usuario_id}} </li>

                  <li>categoria: {{prod.categoria_id}} </li>
                  
                  <li class="precio">Precio: S/. {{prod.precio}} </li>                                      
              </ul>
              <a href="#" class="mas-info">Más información</a>
              <a href="#" class="pedir-servicio"><i class="fab fa-whatsapp"></i> Pedir servicio</a>
            </div>
          {% endfor %} 
        </div>



    </section>
            
            

    <!--fin-->
        

{% endblock %}

{% block script %}         
<script src="{% static 'js/script.js' %}"></script>

{% endblock script %}
