{% extends 'base.html' %}
{% load static %}

{% block title %} {{productoyo.titulo}} {% endblock title %}
{% block cssprincipal %}
<link rel="stylesheet" href="{% static 'css/estilos_detallados.css' %}"> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">   
{% endblock cssprincipal %}
{% block cabecera %}
{% endblock cabecera %}


{% block content %}
<section>
    <div class="categoria">{{productoyo.categoria_id}}  >  {{productoyo.sub_categoria_id}}</div>

    <div class="imgprod1"> 
        {% if productoyo.foto %}
            <img src="{{productoyo.foto.url}}" alt="no hay">
        {% endif %}

    </div>
     <section class="detallesdeproducto">
        <div class="nombre">{{productoyo.titulo}}</div>
        
        <div class="precio"><i class="fas fa-dollar-sign"></i><br>
            Precio: S/. <strong>{{productoyo.precio}}</strong>
        </div>

        <div class="precio"><i class="fas fa-flag"></i>Reportar</div>
        <div class="precio"><i class="fas fa-flag"></i>{{productoyo.modified}}</div>

   
     </section>
     <div class="descripcion">
        <div class="etiqueta-seccion">Descripcion del producto</div>
        <div class="descripcion-texto">{{productoyo.descripcion}}</div>
        <br>
        
        
    </div>
</section>  


{% endblock content %}