
{% load static %}
{% block title %} 
Revision
{% endblock title %}

{% include 'productos/sidebar.html' %}



    <link rel="stylesheet" href="{% static 'css/estilos_revision.css' %}"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">   







    
    {% include 'productos/sidebar.html' %} 

    <section class="contenedor-revision">

    <div>
        <div>
           <P>Herramienta de revision de anuncios:</P>
            <div>
                <form method="get" >
                    <div id="buscar-bloques">
                         Grupo :<input type="number" class="form"  placeholder=".." name="buscar">
                        <button type="submit" class="el-boton">buscar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <button class="accordion">Grupo1: 1 a 20</button>
    <div class="panel">
        {% for prod in  bloque0%}
            <a class="link-titulo" href="{% url 'producto_detallado' slug=prod.slug %}">{{ prod.titulo }}</a>
            <br>
        {% endfor %}
    </div>

    <button class="accordion">Grupo2: 21 a 40</button>
    <div class="panel">
        {% for prod in  bloque1%}
            <a class="link-titulo" href="{% url 'producto_detallado' slug=prod.slug %}">{{ prod.titulo }}</a>
            <br>
        {% endfor %}
    </div>
    <button class="accordion">Grupo3: 41 a 60</button>
    <div class="panel">
        {% for prod in  bloque2%}
            <a class="link-titulo" href="{% url 'producto_detallado' slug=prod.slug %}">{{ prod.titulo }}</a>
            <br>
        {% endfor %}
    </div>
    <button class="accordion">Grupo3: 61 a 80</button>
    <div class="panel">
        {% for prod in  bloque3%}
            <a class="link-titulo" href="{% url 'producto_detallado' slug=prod.slug %}">{{ prod.titulo }}</a>
            <br>
        {% endfor %}
    </div>
    <button class="accordion">Grupo3: 81 a 100</button>
    <div class="panel">
        {% for prod in  bloque4%}
            <a class="link-titulo" href="{% url 'producto_detallado' slug=prod.slug %}">{{ prod.titulo }}</a>
            <br>
        {% endfor %}
    </div>
</section>




{% block script %}         
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }
    </script>

{% endblock script %}