{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}📈 EGO - ANALITICS {% endblock title %}</title>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/01_Isotipo.ico' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--Chart js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<style>
	html{font-size: 62.5%;}
	@font-face{font-family:gilroy-extrabold;src:url(https://ego11.s3-sa-east-1.amazonaws.com/fuentes/gilroy-extrabold.otf);font-display:fallback}@font-face{font-family:Gilroy-Light;src:url(https://ego11.s3-sa-east-1.amazonaws.com/fuentes/Gilroy-Light.otf);font-display:fallback}@font-face{font-family:Gilroy-Medium;src:url(https://ego11.s3-sa-east-1.amazonaws.com/fuentes/Gilroy-Medium.otf);font-display:fallback}
	body{font-family:Gilroy-Light;font-size:1.6rem;color:#73879C;margin: 0rem;background-color: #F7F7F7;}a{text-decoration:none!important;color:#354494}ul{list-style:none;padding-left:0}

	.contenedor-header-ego-analitics{height: 5rem;background-color: #273b52;display: flex;justify-content: space-between;padding: 1rem;}
	.btn-sidebar{color: #F7F7F7;font-size: 3rem;display: flex;align-self: center;}
	.logo-header{margin: 0rem;align-items: center;padding-top: 1rem;}
	.logo-header img{border: 1px ;border-radius: .5rem;width: 12rem;height: 3.5rem;align-content: center;}
	.img-perfil-header{width: 5rem;height: 5rem;border-radius: 50%;border: 0.1rem solid;object-fit: cover;}
	.img-perfil-header b{position: relative;left: 1.6rem;font-size: 2.7rem;top: .5rem;}

	.sidebar{display: none;width: 25rem;background-color: #273b52;position: fixed;height: 100%;overflow: auto;margin: auto;
			text-align: center;align-content: center;border: 0.1rem solid #273b52!important;color: #F7F7F7!important;}
	.sidebar a{color: #F7F7F7!important;}

	.contenedor-sidebar-ego-analitics{display: none;position: fixed;z-index: 1;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;box-shadow: 5px 0px 50px rgba(204, 204, 204, 0.11);
						background-color: rgba(0,0,0,0.3);border: none!important}
	.contenedor-sidebar-contenido-ego-analitics{position: relative;background-color: #273b52;border: none!important;width: 25rem;height:100%;margin: 0rem;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.4s;animation-name: animatetop;animation-duration: .7s}

	@-webkit-keyframes animatetop {
		from {right:0px; opacity:0} 
		to {top:0; opacity:1}
	}
	@keyframes animatetop {
		from {left:0px; opacity:0}
		to {top:0; opacity:1}
	}

	.contenedor-sidebar-contenido-ego-analitics{overflow: scroll;overflow-x: hidden;}
	.contenedor-sidebar-contenido-ego-analitics::-webkit-scrollbar {-webkit-appearance: none;}
	.contenedor-sidebar-contenido-ego-analitics::-webkit-scrollbar:vertical {width:.5rem;}
	.contenedor-sidebar-contenido-ego-analitics::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {display: none;}
	.contenedor-sidebar-contenido-ego-analitics::-webkit-scrollbar-thumb {background-color: #49607a;border-radius: 2rem;border: 0.1rem solid #49607a;}
	.contenedor-sidebar-contenido-ego-analitics::-webkit-scrollbar-track {border-radius: 1rem;margin-top: 18rem;margin-bottom: 1.5rem;}

	.btn-close-sidebar{position: absolute;color: #273b52;font-size: 2.5rem;top: 1rem;left: 26rem;background-color: #F7F7F7;border: .1rem solid #F7F7F7;border-radius: 50%;width: 3.5rem;height: 3.5rem;}
	.btn-close-sidebar:hover,
	.btn-close-sidebar:focus {color: #F7F7F7;text-decoration: none;cursor: pointer;background-color: #dad8d8;}
	.user-contenedor{display: flex;width: 90%;margin: 2rem auto;text-align: left;margin-bottom: 1rem;line-height: 2.5rem;font-size: 1.5rem;}
	.img-perfil-db{width: 4.8rem;height: 4.8rem;border-radius: 50%;border: 0.1rem solid #ccc;display: block;margin: 1rem;object-fit: cover;margin-right: 1.5rem;}
	.img-perfil-db b{position: relative;left: 0rem;font-size: 2rem;top: .5rem;}

	.opciones-analitics{display: flex;flex-direction: column;text-align: left;padding: 2rem .8rem;}
	.opciones-analitics a{padding: 1rem;color: #F7F7F7;align-self: center;width: 100%;font-size: 1.5rem;}
	.opciones-analitics a:hover{border-radius: .5rem;background-color: rgba(255,255,255,0.1);color: white!important;}
	.ego-analitics{text-align: center;font-weight: 800;font-size: 1.8rem;margin-bottom: 1rem;}

	.accordion-sidebar-admin {cursor: pointer;padding: 1rem;background-color: #273b52;color: #F7F7F7;align-self: center;margin-bottom: .5rem;
							width: 100%;border: none;text-align: left;outline: none;font-size: 1.5rem;transition: 0.4s;}
	.active-sidebar-admin, .accordion-sidebar-admin:hover {background-color: rgba(255,255,255,0.1);border-radius: .5rem;border: none;color: white;}
	.accordion-sidebar-admin:after {content: '\003E';color: #F7F7F7;font-weight: bold;float: right;font-size: 1.8rem;}
	.active-sidebar-admin:after {content: "\02C5";color: white;}
	.panel_sidebar_admin {background-color: #273b52;max-height: 0;overflow: hidden;transition: max-height 0.2s ease-out;display: flex;flex-direction: column;}
	.panel_sidebar_admin a{color: #C2C7D0;align-self: center;font-size: 1.5rem;display: flex;border-radius: .5rem!important;max-width: 90%;}
	.panel_sidebar_admin a:hover{background-color: rgba(255,255,255,0.1);color: white!important;}
	.panel_sidebar_admin a b{font-size: 1.8rem;margin-right: .8rem;}
	.panel_sidebar_admin a span {font-size: 1.4rem;}

	@media only screen and (min-width: 992px) {
		.contenedor-header-ego-analitics{display: none;}

		.sidebar {display: block!important;width: 25rem;}
		.contenedor-sidebar-contenido-ego-analitics{width: 25rem;border: none!important;}

		.btn-close-sidebar{display: none;}
	}
	</style>
</head>
<body>
	

<header class="contenedor-header-ego-analitics">
    <span class="btn-sidebar" id="btn_sidebar"> &#9776;</span>
    <div class="logo-header"><a href="{% url 'index'  %}"><img src="https://ego11.s3-sa-east-1.amazonaws.com/images/ego-analitics/ego-logo.png" alt=""></a></div>
	
</header>

<nav class="sidebar contenedor-sidebar-ego-analitics"  id="contenedor_sidebar">
	<span class="btn-close-sidebar"><b>x</b></span>
    <div class="contenedor-sidebar-contenido-ego-analitics">
		<a href="{% url 'index'  %}"><div style="margin-top: 2rem;"><img src="https://ego11.s3-sa-east-1.amazonaws.com/images/ego-analitics/ego-logo.png" alt="LOGO" style="width: 70%;"></div></a>
		
		<div class="user-contenedor"><a href="" class="img-perfil-db" ><b>algo</b></a><a href="" style="align-self: center;">sergio villa</a></div>
		
		<hr style="border: 0.05px solid #c3dcf8 ;width: 90%;margin: auto;">
		<div class="opciones-analitics">
			<a href="#" class="ego-analitics">EGO - ANALITICS</a>
			<button class="accordion-sidebar-admin"><i class="fa fa-users" style="font-size: 2rem;margin-right: 1rem;padding-top: .5rem;"></i> Usuarios</button>
				<div class="panel_sidebar_admin">
					<a href="#" class="opcion_panel_siderbar_admin"><b>»</b><span>Usuarios Registrados</span></a>
					<a href="#"><b>»</b><span>Solicitudes de desactivación</span></a>
					<a href="#"><b>»</b><span>Solicitudes de beneficios</span></a>
				</div>
			<button class="accordion-sidebar-admin"><i class="fa fa-files-o" style="font-size: 2rem;margin-right: 1rem;padding-top: .5rem;"></i> Anuncios</button>
				<div class="panel_sidebar_admin">
					<a href="#"><b>»</b><span>Anuncios Publicados</span></a>
					<a href="#"><b>»</b><span>Anuncios Mas Buscados</span></a>
					<a href="#"><b>»</b><span>Anuncios Caducados</span></a>
					<a href="#"><b>»</b><span>Anuncios reportados</span></a>
				</div>
			<button class="accordion-sidebar-admin"><i class="fa fa-commenting" style="font-size: 2rem;margin-right: 1rem;padding-top: .5rem;"></i> Comentarios</button>
				<div class="panel_sidebar_admin">
					<a href="#"><b>»</b><span>Comentarios reportados</span></a>
					<a href="#"><b>»</b><span>Comentarios realizados</span></a>
				</div>
			<button class="accordion-sidebar-admin"><i class="fa fa-line-chart" style="font-size: 2rem;margin-right: 1rem;padding-top: .5rem;"></i> Marketing</button>
				<div class="panel_sidebar_admin">
					<a href="#"><b>»</b><span>SMS</span></a>
				</div>

				
		</div>
    </div>
</nav>

<script>
	var sidebar = document.getElementById("contenedor_sidebar");
	var btn = document.getElementById("btn_sidebar");
	var span = document.getElementsByClassName("btn-close-sidebar")[0];

	btn.onclick = function() {
		sidebar.style.display = "block";
	}	

	span.onclick = function() {
		sidebar.style.display = "none";
	}

	window.onclick = function(event) {
		if (event.target == sidebar) {
			sidebar.style.display = "none";
		}
	}

// Acordion
var acc = document.getElementsByClassName("accordion-sidebar-admin");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active-sidebar-admin");
    var panel_sidebar_admin = this.nextElementSibling;
    if (panel_sidebar_admin.style.maxHeight) {
      panel_sidebar_admin.style.maxHeight = null;
    } else {
      panel_sidebar_admin.style.maxHeight = panel_sidebar_admin.scrollHeight + "px";
    } 
  });
}

</script>

</body>
</html>