
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
/*seccion presentacion*/

main .sobre-nosotros{
  padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  margin-right: 0;
  padding-right: 0;
}

.imagen-about-us{
  width: 56%;
  border-radius:200px 0px 0px 200px ;    
}

.sobre-nosotros .contenido-textos{
  width: 40%;
}

.contenido-textos h3{
  margin-bottom: 0px;
  margin-left: 12%;
}

.contenido-textos h3 span{
  background: #4d0686;
  color: #fff;
  border-radius: 10px;
  display: inline-block;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  
  
  padding: 10px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  margin-right: 5px;
}

.contenido-textos p{
  padding: 0px 0px 30px 15px;
  
  color: #4d0686;
  margin-left: 10%;
  font-weight: bold;
  font-size: 1.2em;
}

/*animacion*/
.contenedor-anim {
  height: 50px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-left: 12%;

}
.contenedor-anim ul { 
  
  list-style: none;
  margin: 0;    
  padding: 0;

  
  animation: cambiar 30s infinite;
  
  
}
.contenedor-anim ul li{
  
  color: rgb(134, 21, 106);
  font-size: 2.6em;
  height: 50px;
  align-content: center;
  margin-top: 0;
  padding: 0;    
}

/*fin de animacion*/
/*rayita*/
.rayita{
  margin-left: 12%;
  width: 320px;
  margin-top: 20px;
  display: inline-block;
  
  
}
.rayita hr{
  
  background-color: aqua;
  padding-top: 0.4px;
}
/*otor*/

@keyframes cambiar {
  0%{margin-top:0;}
  8%{margin-top:0;}
  10%{margin-top:-50px;}
  18%{margin-top:-50px;}
  20%{margin-top:-100px;}
  28%{margin-top:-100px;}
  30%{margin-top:-150px;}
  38%{margin-top:-150px;}
  40%{margin-top:-200px;}
  48%{margin-top:-200px;}
  50%{margin-top:-250px;}
  58%{margin-top:-250px;}

  60%{margin-top:-200px;}
  68%{margin-top:-200px;}
  70%{margin-top:-150px;}
  78%{margin-top:-150px;}
  80%{margin-top:-100px;}
  88%{margin-top:-100px;}
  90%{margin-top:-50px;}
  98%{margin-top:-50px;}
  
}
/*fin de presentacion*/



/*estilos del como usar*/
 .como-usar-ego{
   text-align: center;
   
   margin-top: 20px;
   margin-bottom: 20px;
   text-transform: none;
   color: rgb(0, 0, 0);
   font-size: 2.5em;
   font-weight: 1000;
   font-family: cursive;
   
 }



/*estilos de las imagenes de como usar*/
  .contiene-comousar{
    width: 100%;
    box-sizing: border-box;
    
  }
  .de-contenido{
    box-sizing: border-box;
    
    display: flex;
    justify-content: space-around;
    
    
  }
  .contenedor-imagenes-con-text{

    box-sizing: border-box;
    width: 23%;
    text-align: center; 
    
    
  }
  .contenedor-imagenes-con-text img{
    width: 100%;
      
  }

  .text-como{
    display: inline-block;
    width: 60%;
    font-family: sans-serif;
    color: rgb(87, 86, 86);
    
  }

  /*estilos de la parte de los iconos*/
  .contenedor-frases{
    margin-top: 100px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
  .frase{
    width: 20%;

  }

  .titulo{
    text-transform: none;
    color: #4d0686;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 900;
    margin-bottom: 10px;
  }

  .frase img{
    height: 40px;
    margin-bottom: 10px;
    
  }

  /*botones*/
  .contiene-seleccion{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .contiene-seleccion  input {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .contiene-seleccion input:hover{
    background-color: darkgreen;
  }
  
 
  .contiene-seleccion input:focus{    
    background-color: blue;
  }


  
  /*imganes productos js*/
  .contiene-total-productos{
    width: 100%;
    
    
    
    
  }
  .contenedor-productos{
    
    display: flex;
    flex-wrap: wrap; /*para que solo abarque una linea*/
    
    box-sizing: border-box;
    justify-content: space-around;
    margin-bottom: 100px;
    flex-shrink: 0;
    margin-left: 5%;
    margin-right: 5%;  
  }
  .producto{
    display: inline-block;
    width: 31%;
    
        
  }

  /*producto individual*/
  .producto li {
    
    box-sizing: border-box;  
  }
  .producto li img{
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    font-family: sans-serif;
    border-radius: 15px;
    
  }
  .titulito{
    text-decoration: none;
    display: inline-block;
    width: 90%;
    font-family: sans-serif;
    color: rgb(87, 86, 86);
    font-size: 1.2em;
    margin-bottom: 5px ;
  }
  .precio{
    margin-top: 8px;
    color: rgb(230, 59, 59);
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 25px;

  }
  .mas-info{
    display: inline-block;
    font-weight: 0.8em;
    text-decoration: none;
    margin-left: 10%;
    margin-right: 8%;
    width: 32%;
    text-align: center;
    

    font-size: 1em;
    border-radius: 8px; 
    color: slateblue;
    padding: 2%;    
    border: 1px solid #4d0686;
    
  }
  
  .pedir-servicio{
    font-weight: 0.8em;
    text-decoration: none;
    display:inline-block;
    width: 32%;
    text-align: center;
    

    
    background-color:#4d0686;
    font-size: 1em;
    border-radius: 8px; 
    color: rgb(255, 255, 255);
    padding: 2%;
    border: 1px solid #4d0686;

    
    }



  