#buscar-bloques input{
  margin-left: 5%;
  width: 20%;

}



.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    
    background-color:rgba(255,255,255,0.1);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: center;
  }


  .contenedor-revision{
    margin-left: 30rem;
    padding: 2rem;
    width: 40%;

    
  }
  .link-titulo{
    display: inline-block;
    font-weight: 0.8em;
    text-decoration: none;   
    width: 99%;
    text-align: center;
    
    font-size: 1em;
    color: rgb(116, 116, 121);
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
        
    border: 1px solid #ccc;
  }