.categoria{
    margin-left: 5%;
    font-size: 1.2em;
    color: #4d0686;
}


.imgprod1 img{
    text-align: center;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    font-family: sans-serif;
    border-radius: 15px;
}
.detallesdeproducto{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 60px;
}
.nombre{
    display: inline-block;
    color:#4d0686 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: bold;
}
.precio{
    color:#4d0686 ;
}


.descripcion{
    display: flex;
    background-color: rgb(188, 173, 206);
    
    justify-content: space-around;
    padding: 4%;
}
.etiqueta-seccion{
    width: 20%;
    text-align: left;
    color: #4d0686;
    font-size: 1.4em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    margin-right:5% ;
}
.descripcion-texto{
    width: 70%;
}