/*general*/
body{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.contenedor {
    padding: 60px 0;
    width: 100%;
    
    margin: 0; 
    overflow: hidden;
}

/*cabecera*/
.container-header{
    padding-top: 20px;
    padding-left: 10%;
    
    
    height: 100px;
}
.logo{
   
    height: 70px;
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 15%;
}
.logo img{   
    width: 200px;
    box-sizing: border-box;
    padding-top: 12px;
}

.nologo{
    
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    
}

.button {padding-bottom: 0px;margin-bottom: 10px;}
   
.button li {display: inline;}
.button li a {
    font-family: Arial;
    
    text-decoration: none;
    margin: 8px;
    padding: 10px;
    background-color: #ffffff;
    color: #000;
}
.button li a:hover {
    background-color: #7ab3e2;
    margin-top: -2;
    padding-bottom: 12px;
}


