{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} Home {% endblock title %}</title>
  
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  {% block cssprincipal %}
      
  {% endblock cssprincipal %}
  
</head>
<header class="container-header">
  <div class="logo">
    <a href="{% url 'index'  %}">
      <img src="https://ego11.s3-sa-east-1.amazonaws.com/images/home/Logo_Final-01.png" alt="logo">
    </a>
  </div>

  <div class="nologo">
    <ul class="button">
      <li><a href=”#”>Inicio</a></li>
      <li><a href=”#”>Sobre nosotros</a></li>
      <li><a href=”#”>Servicios</a></li>
      <li><a href=”#”>Productos</a></li>
      <li><a href=”#”>Contacto</a></li>
      </ul>
  </div>  
</section>
</header>
<body>
  <main>
    


    
    {% block content %}
    {% endblock content %}
    {% block script %}         
    {% endblock script %}
  </main>
</body>

</html>